@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');
$primaryFont : 'Montserrat', sans-serif;
$primaryBackground-color: #FFFFFF;
$secondaryBackground-color: #EEEEEE;
$primaryText-color: #000;
$secondaryText-color:#333333;
$icon-color:#828282;
$button-color: #F2994A;
$count-color: #E0E0E0;
$primaryFont-family: Arial, Helvetica, sans-serif;
