$primaryBackground-color: #FFFFFF;
$secondaryBackground-color: #EEEEEE;
$primaryText-color: #000;
$secondaryText-color:#333333;
$icon-color:#828282;
$primaryFont-family: Arial, Helvetica, sans-serif;
