form {
    height: 100%;
    width: 120%;
    .contact{
        margin-bottom: 10%;
        h2{
            color: $secondaryText-color; 
            margin-bottom: 5%;
        }
        .email, .phone {
            position: relative;
            label{
                color: $secondaryText-color;
                position: absolute;
                top: -10%;
            }
            input{
                height: 36px;
                width: 100%;
                padding-left: 30px;
                border: 1px solid $icon-color;
                border-radius: 6px;
            }
            i{
                position: absolute;
                color: $icon-color;
                top: 50%;
                transform: translateY(-50%);
                left: 2%;
            }
        }
    }
    .shipping{
        h2{
            color: $secondaryText-color; 
            margin-bottom: 5%;
        }
        .fname, .address, .city, .country, .postcode{
            position: relative;
            label{
                color: $secondaryText-color;
                position: absolute;
                top: -10%;
            }
            input{
                height: 36px;
                width: 100%;
                padding-left: 30px;
                border: 1px solid $icon-color;
                border-radius: 6px;
            }
            i{
                position: absolute;
                color: $icon-color;
                top: 50%;
                transform: translateY(-50%);
                left: 2%;
            }
            select{
                height: 36px;
                padding-left: 30px;
                border: 1px solid $icon-color;
                border-radius: 6px;
            }
            
        }
        .country{
            display: inline-block;
            margin-right: 2%;
            .fa-globe-europe{
                left:5%;
            }
        }
        .postcode{
            display: inline-block;
            input{
                width: auto;
            }
        }
    }
}